<div class="menu-icon">
  <%= link_to "menu", organization_event_path(organization_id: organization_id, id: id), class: "nav-icon-area" %>
  <i class="fa fa-bars nav-icon" aria-hidden="true"></i>
</div>
