<div class="page-container">
  <h3 class="small-title centered">Please select your event.</h3>

  <% if @events.any? %>
    <div class="list-block-container">
      <% @events.each do |event| %>
        <div class="list-block">
          <%= link_to (organization_event_path(event["organization_id"],event["id"])), class: "list-link" do %>
            <h3 class="small-title"><%= event["name"] %></h3>
            <span>Start Date: <%= event["start_date"] %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
