/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

 body {
  font-family: "EM Open Sans",sans-serif;
  color: #575757;
  background-color: #f2f2f2;
  margin-top: 0;
 }


/* Log In Page Logo */
 .container-logo {
  width: 250px;
  display: block;
  margin-bottom: 50px;
  position: relative;
 }

.centered {
  margin-left: auto;
  margin-right: auto;
}

.login-title-onsite {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: #FFB600;
  width: 110px;
  position: absolute;
  left: -12px;
  top: 60px;
}

/* Text Styles */
.small-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.detail-text {
  font-size: 1.0rem;
  font-weight: 300;
}

.detail-text i {
  margin-right: 5px;
}

.small-text {
  font-size: 0.9rem;
  font-weight: 300;
}

.center-text {
  text-align: center;
}

h3.event-title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  /*background-color: white;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 1px;*/
}

/* Main Nav Bar */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: #fff;
  background-color: #FFB600;
  /* grey #535b6a */
  /*border-bottom: 1px solid #e8e8e8;*/
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

.small-logo-container {
  width: 150px;
  display: inline-block;
  margin-top: 10px;
}

.nav-title-container {
  display: block;
  width: 236px;
}

.title-onsite {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 200;
}

.nav-icon {
  position: absolute;
  left: 10px;
  line-height: 50px;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
}

.menu-icon {
  color: #fff;
}

/* larger div container back link, for easy tapping */
.nav-icon-area {
  display: inline-block;
  width: 60px;
  line-height: 50px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

/* Common Page Styles */
.page-container {
  padding-top: 50px;
}


/* Log in Container */

@media screen and (min-width: 640px) {
  .log-in-container {
    padding: 40px;
  }
}

.log-in-container {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.35);
  padding: 35px 25px;
}

@media screen and (min-width: 640px) {
  .large-container {
    margin-top: 80px;
  }
}

.large-container {
  max-width: 450px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.page-container {
  max-width: 450px;
  margin: auto;
}

.footer-support-link {
  padding: 10px 0 10px 0;
}

/* Form Styling */
.form-field {
  margin-bottom: 30px;
}

.form-label {
    display: block;
    color: #575757;
    margin-bottom: .4em;
}

#date__scheduled_date {
  width: 40%;
}

#time__scheduled_date {
  width: 30%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
}

input.inline {
  display: inline-block;
}


span.between-inputs {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #bbb;
  margin-right: 6px;
}

.form-input {
    display: inline-block;
    color: #575757;
    font: inherit;
    font-weight: 400;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 7px 10px;
    outline: 0;
}

.submit-button-container {
  padding-left: 100px;
  padding-right: 100px;
}

.button-container {
  margin-bottom: 10px;
  text-align: center;
}

.button {
  color: #fff;
  font-size: .9rem;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  margin: 0 5px 0 0;
  padding: 6px 30px;
  transition: background-color .2s;
  -webkit-appearance: none;
  display: inline-block;
}

.button-half-width {
  display: inline-block;
  width: 48%;
  text-align: center;
  padding: 9px 0px;
  font-size: 1.0rem;
  border-radius: 20px;
}

.list-options {
  width: 100%;
  padding: 11px 30px;
  font-size: 1.0rem;
  border-radius: 9px;
}

.blue {
  background-color: #0093c7;
}

.green {
  background-color: #6ebb83;
}

.error-msg {
  color: red;
}


/* Lists */

/* main list items */
.list-block {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 30px;
}

div.list-event-org:hover {
  background-color: #b5d6fd;
  color: #0093c7;
}

div.list-event-org:active {
  background-color: #b5d6fd;
  color: #0093c7;
}

.list-link {
  text-decoration: none;
  color: #575757;
  font-size: 1.2rem;
  font-weight: 400;
}

.list-block-container {
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,.35);
}

/* Main app feature links */
div.list-feature {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #575757;
  color: white;
}

div.list-feature:hover {
  background-color: #A9A9A9;
}

div.list-feature:active {
  background-color: #A9A9A9;
}

.icon-feature {
  padding-right: 8px;
}

i.fa-question {
  padding-right: 13px;
}

/* used in surveys */
.list-card {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0px 15px 10px 15px;
  margin-bottom: 10px
}

/* Contact Support Modal */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
}

.contact-support-modal {
  background-color: #fff;
  border-radius: 13px;
  border: 1px solid #bbb;
  width: 85%;
  height: 280px;
  max-width: 350px;
  padding: 0 10px 15px 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-link {
  text-decoration: none;
  color: #0093c7;
}

.contact-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
