/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

 body {
  font-family: "EM Open Sans",sans-serif;
  color: #575757;
  background-color: #f2f2f2;
 }


/* Log In Page Logo */
 .container-logo {
  width: 250px;
  display: block;
  margin-bottom: 50px;
 }

.centered {
  margin-left: auto;
  margin-right: auto;
}


/* Text Styles */
.small-title {
  font-size: 1.2rem;
  font-weight: 200;
}

.bold {
  font-weight: 600;
}


/* Log in Container */

@media screen and (min-width: 640px)
.log-in-container {
  padding: 40px;
}

.log-in-container {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.35);
  padding: 35px 25px;
}

@media screen and (min-width: 640px)
.large-container {
  margin-top: 80px;
}

.large-container {
  max-width: 450px;
  margin-top: 32px;
  margin-bottom: 32px;
}


/* Form Styling */
.form-field {
  margin-bottom: 30px;
}

.form-label {
    display: block;
    color: #575757;
    margin-bottom: .4em;
}

input {
  width: 100%;
}

.form-input {
    display: inline-block;
    color: #575757;
    font: inherit;
    font-weight: 400;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 7px 10px;
    outline: 0;
}

.submit-button-container {
  padding-left: 100px;
  padding-right: 100px;
}

.button {
  color: #fff;
  font-size: .9rem;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  margin: 0 5px 0 0;
  padding: 6px 16px;
  transition: background-color .2s;
  -webkit-appearance: none;
  display: inline-block;
}

.blue {
  background-color: #0093c7;
}

.green {
  background-color: #6ebb83;
}

.error-msg {
  color: red;
}


/* Lists */

/* used in surveys */
.list-card {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px
}
