<div class="page-container">
  <h3 class="small-title">Please select an organization.</h3>

  <% if @organizations.any? %>
    <div class="list-block-container">
      <% @organizations.each do |organization| %>
        <div class="list-block">
          <%= link_to (organization_events_path(organization["id"])), class: "list-link" do %>
            <h3 class="small-title"><%= organization["name"] %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
